# Negeer gegenereerde bestanden
kernregister-catalogus/md-doc/otl-list.md
kernregister-catalogus/md-doc/bomr-list.md
kernregister-catalogus/md-doc/concepten-*.md
kernregister-catalogus/respec-documentatie/Elements_*.html
mapping.json
