@media (min-width: 50rem) {
    .site-header {
      height: 5rem;
      max-height: 5rem;
    }
  }
  
  @media (min-width: 50rem) {
    .site-title {
      padding-top: 0rem;
      padding-bottom: 0rem;
    }
  }